{% extends 'base.html' %}

{% block title %}
    Actualizacion de perfil de usuario
{% endblock %}

{% block content %}
    <h1>Cambio de datos</h1>
    {% if form %}

        <form action="" method="POST" enctype="multipart/form-data" >

            {% csrf_token %}

            {% if request.user.is_authenticated %}
                <div><u>
                    Usuario: <b>{{user.username}}</b><br>
                    Nombre: <b>{{user.first_name}}</b><br>
                    Apellido: <b>{{user.last_name}}</b><br>
                </u></div>
            {% endif %}
            
            <table>
                {{form.as_table}}
            </table>


            <input type="submit" value="Actualizar">
        </form>
    {% endif %}

    {% if errors %}
        {{errors}}
    {% endif %}


{% endblock %}